@import url("https://use.typekit.net/tuo4tyt.css");

* {
  box-sizing: border-box;
}

html, body {
  font-weight: 400;
  margin: 25px 50px;
  padding: 0;
  color: #262424;
  scroll-behavior: smooth;
  font-family: sofia-pro, sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 3.5rem;
    color: #f2ebeb;
    text-align: center;
}

h2 {
    font-size: 1.8rem;
    font-weight: 400;
    font-style: italic;
    color: #631818;
}

h3 {
    font-size: 100;
    font-weight: 400;
    font-style: italic;
    color: #631818;
}

p {
    margin: 15px 60px;
}
.appHeader {
    width: 100%;
    background-color: #631818;
    height: 30%;
}


.column {
  float: left;
  width: 25%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
