<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.carolina_coffee">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Carolina_Coffee">
        <activity
            android:name=".RewardsActivity2"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".MainMenuActivity"
            android:exported="true" />
        <activity
            android:name=".MenuActivity"
            android:exported="true" />
        <activity
            android:name=".NutritionActivity"
            android:exported="true" />
        <activity
            android:name=".PaymentActivity13"
            android:exported="true" />
        <activity
            android:name=".CheckoutActivity"
            android:exported="true" />
        <activity
            android:name=".SavedOrdersActivity11"
            android:exported="true" />
        <activity
            android:name=".PromptionsActivity10"
            android:exported="true" />
        <activity
            android:name=".RewardsActivity9"
            android:exported="true" />
        <activity
            android:name=".ProfileActivity8"
            android:exported="true" />
        <activity
            android:name=".WalletActivity7"
            android:exported="true" />
        <activity
            android:name=".PurchaseHistoryActivity6"
            android:exported="true" />
        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".InboxActivity5"
            android:exported="true" />
        <activity
            android:name=".HomeActivity4"
            android:exported="true" />
        <activity
            android:name=".SignUpActivity3"
            android:exported="true" />
        <activity
            android:name=".LoginActivity2"
            android:exported="true" />
        <activity
            android:name=".Register"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>