<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.carolina_coffee">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Carolina Coffee"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/splashScreenTheme"
        tools:replace="android:label">
        <activity
            android:name=".PaymentMethod_2_Activity"
            android:exported="false" />
        <activity
            android:name=".PaymentMethod_1_Activity"
            android:windowSoftInputMode="adjustPan"

            android:exported="false" />
        <activity
            android:name=".EditPaymentPlansActivity"
            android:exported="false" />
        <activity
            android:name=".LockScreenActivity"
            android:exported="false" />
        <activity
            android:name=".HistoryPageActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".CartPageActivity"
            android:exported="false" />
        <activity
            android:name=".OrderMenuPageActivity"
            android:exported="false" />
        <activity
            android:name=".MenuPageActivity"
            android:exported="false" />
        <activity
            android:name=".AppSettingsPageActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerSupportPageActivity"
            android:exported="false" />
        <activity
            android:name=".SettingPageActivity"
            android:exported="false" />
        <activity
            android:name=".SavedOrdersPageActivity"
            android:exported="false" />
        <activity
            android:name=".InboxPageActivity"
            android:exported="false" />
        <activity
            android:name=".RewardsPageActivity"
            android:exported="false" />
        <activity
            android:name=".ProfilePageActivity"
            android:exported="false" />
        <activity android:name=".LoginPageActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".PaymentActivity_1"
            android:exported="true" />
        <activity
            android:name=".RegisterPageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>